/* Default DevCorner Style Setting */

:root{
  --dc-: #28a745;
  --gr-: #515151;
  --shadow-: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.fa-code{
  color: var(--dc-);
}

/* .brand{
  margin: 0;
  padding: 0.5em;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #515151;
  border-radius: 5px;
  font-family: Roboto;
  z-index: 1;
  font-size: 3em;
} */

body{
  margin: 0;
  padding: 0;
  background: url(../img/img_05.jpeg) no-repeat 50% 50%;
  background-size: cover;
  font-family: Roboto;
  font-weight: lighter;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 1px;
}

h1{
  text-align: center;
  margin-top: 120px;
  animation-delay: 0.2s;
  font-size: 40px;
  color: var(--gr-);
}

.container{
  width: 80%;
  margin: 60px auto 0;
  display: table;
  box-sizing: border-box;
}

.row{
  transition: 1s;
}

.column{
  background: #151515;
  display: table-cell;
  color: #fff;
  padding: 30px;
  width: 33.3%;
  text-align: center;
  vertical-align: middle;
  transition: 1s;
}

.row:nth-child(1) .column:nth-child(odd){
  background: var(--dc-);
}
.row:nth-child(1) .column:nth-child(2){
  background: #ccc;
  color: #515151;
}
.row:nth-child(2) .column:nth-child(odd){
  background: #ccc;
  color: #515151;
}
.row:nth-child(2) .column:nth-child(2){
  background: var(--dc-);
}

@media(max-width: 768px){
  .container{
    margin: 0;
    padding: 10px 0;
    width: 100%;
  }
  .column{
    width: 100%;
    display: block;
box-sizing: border-box;
  }
}

.row:nth-child(1) .column:nth-child(1){
  animation-delay: 1s;
}
.row:nth-child(1) .column:nth-child(2){
  animation-delay: 1.3s;
}
.row:nth-child(1) .column:nth-child(3){
  animation-delay: 1.6s;
}
.row:nth-child(2) .column:nth-child(1){
  animation-delay: 1.9s;
}
.row:nth-child(2) .column:nth-child(2){
  animation-delay: 2.2s;
}
.row:nth-child(2) .column:nth-child(3){
  animation-delay: 2.5s;
}




















/* End */
